.about-container {
  background-color: #EDE9E4;
  max-width: 1500px;
  margin: 0 auto;
  padding: 90px;
}

.title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Added to center align the content */
}

.company-image {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
}

.description-container {
  flex: 2;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 10px;
}

.footer {
  text-align: center; /* Added to center align the footer */
  margin-top: 50px; /* Adjust as needed */
  padding: 20px 0;
  background-color: #EDE9E4;
}

.footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .company-image {
    width: 0%;
    max-width: 0%;
    height: 0px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
  }

  .content-container {
    align-items: flex-start;
  }

  .company-image {
    margin-bottom: 0px;
  }
 
}
