.homepage-lander {
    display: flex;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGxhd3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=1200&q=80");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    box-shadow: 1000px 0 20px rgb(41, 43, 64), 10000px 0 20px rgb(41, 43, 64);
  }
  
  /* Rest of your CSS code */
  
  .homepage-tile {
    width: 45%;
    margin: auto 60px;
  }
  
  .heading,
  .sub-heading {
    color: white;
    font-family: "Arial", sans-serif;
  }
  
  .heading {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .sub-heading {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .homepage-lander {
      min-height: 100vh;
      background-position: center;
      background-size: cover;
    }
  
    .homepage-tile {
      width: 90%;
      margin: 0 auto;
      margin-top: 30vh;
    }
  
    .heading {
      font-size: 26px;
      text-align: center;
      margin-bottom: 8px;
    }
  
    .sub-heading {
      font-size: 16px;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  .contact-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #2d3045 ;
    color: #BFB695;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .contact-button:hover {
    background-color: white;
  }
  
  .about-button {
    color: #1c54b2;
    text-decoration: underline;
  }
  
 
  